<ul *ngIf="!video">
  <div class="button-set" *ngIf="list.length">
    <button class="downloadBtn" (click)="downloadAll()" *ngIf="list.length" [disabled]="downloading">Download All ({{downloadlist.length}})</button>
    <button class="downloadBtn" (click)="toggleMark()" *ngIf="list.length" [disabled]="downloading">Mark</button>
  </div>
  <li *ngFor="let item of list" class="item" (click)="mark(item)">
    <div class="left">
        <div *ngIf="markEnable">
          <input type="checkbox" (change)="mark(item)" [(ngModel)]="item.checked" name="" value="false">
        </div>
        <div class="image">
          <img [src]="item.images[0].url" alt="">
        </div>
        <div class="description">
          <span>{{item.name}}</span>
        </div>
    </div>
    <div class="right">
        <span><i class="fa fa-download" (click)="getTrack(item, 'track')"></i></span>
    </div>
  </li>
</ul>
<yd-song *ngIf="video" [song]="video" [vidId]="video.id" [noImg]="'true'"></yd-song>
