<ul>
  <div class="button-set" *ngIf="list.length">
    <button class="downloadBtn" (click)="downloadAll()" *ngIf="list.length" [disabled]="downloading">
      <span *ngIf="!downloading && !markEnable">Download All ({{downloadlist.length}})</span>
      <span *ngIf="!downloading && markEnable">Download Marked Tracks ({{downloadlist.length}})</span>
      <span *ngIf="downloading">Downloading</span>
    </button>
    <button class="downloadBtn" (click)="toggleMark()"  *ngIf="list.length" [disabled]="downloading">
      <span>Toggle Mark</span>
    </button>
  </div>
  <li *ngFor="let item of list" class="item" (click)="getAction(item)">
    <div class="left">
        <div *ngIf="markEnable">
          <input type="checkbox" (change)="mark(item)" [(ngModel)]="item.checked" name="" value="false">
        </div>
        <div class="image">
          <img [src]="item.images[0].url" alt="">
        </div>
        <div class="description">
          <span>{{item.name}}</span>
        </div>
    </div>
    <div class="right">
        <span><i class="fa fa-download"></i></span>
    </div>
  </li>
</ul>
