input {
  background: none;
  border: none;
  border-bottom: 1px solid white;
  color: white;
  width: 50vw;
  font-size: 1em;
  &:focus, &:active, &:active:focus {
    border: none;
    border-bottom: 1px solid white;
    box-shadow: none;
    outline: none;
  }
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
}
button {
  height: 3vh;
  border:none;
  background: none;
  i {
    color: white;
    font-size: 1.5em;
  }
  &:focus, &:active, &:active:focus {
    border: none;
    box-shadow: none;
    outline: none;
  }
}
