<div class="card" *ngIf="song.kind == 'youtube#video'">
  <div class="header">
      <h3>{{song.title}}</h3>
  </div>
  <div class="images">
    <img [src]="song.thumbnails.medium.url" (click)="replace = true" *ngIf="!replace" alt="">
    <iframe class="player" [src]="song.link" *ngIf="replace"></iframe>
  </div>
  <div class="download">
    <button (click)="download(song.id)" [disabled]="downloading" [disabled]="downloading">
      <span [innerText]="status == 0 ? 'Download': status == 1 ? 'Downloading...': 'Downloaded!'"></span>
      <i class="fa fa-download"></i></button>
  </div>
</div>
