.card {
  padding: 2vh 0 5vh 0;
  .header {
    color: white;
  }

  .images {
    img {
      width: 100%;
    }

    iframe {
      height: 100%;
      width: 100%;
      border: none;
      background: black;
      height: 100%;
    }
  }
  .download {
    button {
    color: white;
    background: darken(#EF4581, 10%);
    border: none;
    padding: 10px 15px;
    width: 100%;
    margin: 0;
      i {
        padding: 0px 15px;
      }
      &:disabled {
        background-color: lighten(#EF4581, 20%);
      }
    }
  }

}
