<div class="card" *ngIf="song && song.kind == 'youtube#video'"  #card>
  <div class="header">
      <h3>{{song.title}}</h3>
  </div>
  <div class="images">
    <img [src]="song.thumbnails.medium.url" (click)="replaceVid()" *ngIf="!replace" alt="">
    <div id="vid_{{vidId}}"></div>
  </div>
  <div class="download">
    <button (click)="download(song)" [disabled]="downloading" [disabled]="downloading">
      <span *ngIf="!downloading && status == 0">Download <i class="fa fa-download"></i></span>
      <span *ngIf="downloading && status == 1">Downloading {{progress}}% </span>
      <span *ngIf="!downloading && status == 2">Downloaded <i class="fa fa-check"></i></span>
    </button>
  </div>
</div>
